extends layout

block content
	h1= 'Index of ' + path
	p= '&nbsp;'
	pre
		- var head = formatHead(n, m, s, d)
		img(src='#{head.img}', alt='#{head.alt}')
		!= head.text
		hr
		- var body = formatBody(path, dirs, files)
		- for entry in body
			img.icon(src='#{entry.img}', alt='#{entry.alt}', title='#{entry.alt}')
			= ' '
			a(href='#{entry.url}')= entry.name
			!= entry.text + '\n'
		= '\n'
		hr
